body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(84, 100%, 10%, 0.75);
    color: white;
}
h1{
    font-size: 4rem;
}
.form, .jobs{
    padding: 15px;
    background-color: hsla(84, 100%, 20%, 0.75);
    border: 1px solid hsla(84, 100%, 15%, 0.75);
    border-radius: 15px;
    margin: 5px;
}
.jobs div{
    background-color: hsla(84, 100%, 30%, 0.75);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: white;
}
